.git
.ruff_cache
.pnpm-store
node_modules
backend/.coverage
backend/.pytest_cache
backend/.ruff_cache
backend/.venv
backend/__pycache__
backend/src/**/__pycache__
backend/tests/**/__pycache__
docker/.env
frontend/dist
frontend/node_modules
infra/cdk.out
infra/dist
infra/node_modules
tmp
